<div class="msg_history" id="msg_history">

    <script>
        var timeout;
        function refresh_messages(){
            $.ajax({
                type: "get",
                dataType: "json",
                url: "{% url 'chat_window' %}",
                data: {
                    'element': "roomsList",
                    'room_name': $('.active_room').attr('id')
                },
                success:function(data)
                {
                   $('#msg_history').html(get_html_history(decodeURI(data['messages'])));
                   timeout = setTimeout(refresh_messages, 2000);
                },
                error: function() {
                   console.log("Error retreiving data.")
                }
            });
        }

        //TODO: This is where the activation of refresh will take place
        //currently turned off till the bugs get worked out
        {#$(function(){#}
        {#    refresh_messages();#}
        {#\\});#}

        window.onbeforeunload = closingCode;
        function closingCode(){
            clearTimeout(timeout);
        }

        function get_html_history(messages) {
            let msg_history = '';
            for (let i = 0; i < messages.length; i++) {
                let out_msg_html = '<div class="room_msg outgoing_msg" >' +
                                        '<div class="sent_msg" >' +
                                            '<div style="background-color: blue;">'
                let in_msg_html =  '<div class="incoming_msg" >' +
                                        '<div class="received_msg"> >' +
                                            '<div class="received_withd_msg">'

                let msg_div_start = ''

                {#determine if message is incomming or outgoing#}
                if (messages[i]['background_color'] === 'blue') {
                    msg_div_start = out_msg_html
                }
                else  {
                    msg_div_start = in_msg_html
                }
                msg_history += (
                    msg_div_start +
                                '<p>' + messages[i]['sender'] + '</p>' +
                                '<p>' + messages[i]['message'] + '</p>' +
                            '</div>' +
                            '<span class="time_date">' + messages[i]['date_time'] + '</span>' +
                        '</div>' +
                    '</div>'
                );
            }
            return msg_history;
        }

        //TODO: having trouble decoding json between python and javascript
        //var html_message_list = get_html_history($.parseJSON('{{ messages }}' ))
        //$('#msg_history').html(html_message_list);
        {#autoescape turns off escape characters being loaded. In this case it allows the raw json to be imported#}
        {% autoescape off %}
            $('#msg_history').html(get_html_history({{ messages }}));
        {% endautoescape %}
    </script>
</div>