<div class="rooms_list" href="{% url 'chat_window' %}">

  {% for room in rooms %}
    <div class="active_room chat_list " id="{{ room }}">
        <form method="post">
            {% csrf_token %}
          <button class="chat_people" type="submit" name="render_chat" value={{ room }}>
              <form >
                  <div class="chat_img"> <img src="https://ptetutorials.com/images/user-profile.png" alt="sunil"> </div>
              </form>
            <div class="chat_ib" >
              <h5 class="room_name" id="{{ room }}"> {{ room }} <span class="msg_count">New msg count</span></h5>
              <p></p>
            </div>
          </button>
        </form>

    </div>
  {% endfor %}

</div>